@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Zen+Kaku+Gothic+New:wght@500&display=swap');

html, body{
    min-height: 100vh;
    background: #f1f1f1;

}

.container{
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2, h1{
    font-family: 'Roboto Mono', monospace;

}
.nombre{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3rem;
}

.nombre h1{
    display: inline;
    margin: 0%;
    font-size: 3em;
    font-weight: 600;
    white-space: nowrap;
    
}

span.lastname{
	display: inline;
    border-style: solid;
    padding: 1%;
    border-radius: 2em;
    border-width: 6px;
    border-color: rgba(100, 11, 11, 0.411);
    color: rgb(0, 0, 0);
    background-color: rgb(240, 229, 229);
}

.header{
    display: flex;
    text-align:center;
	background-color:rgba(255, 255, 255, 0.781);
    backdrop-filter: saturate(180%) blur(20px);
	box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
	align-items: center;
	justify-content: space-around;
	border-radius: 3rem;


}

header{
	width: 100%;
	position: fixed;
	z-index: 13;
}


nav.mobil{
	display: none;
}


  
nav.mb ul{
	float: inline-start;
	text-align: center;
	margin: 0%;
	background: linear-gradient(90deg, rgba(160, 12, 12, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(241, 0, 0, 0.335), inset 0 0 1px rgba(255, 255, 255, 0.6);
  
  }
  
  nav.mb ul li {
	display: inline-block;
  }
  
  nav.mb ul li a{
	margin: 0%;
	padding: 18px;
	text-transform:uppercase;
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	display:inline-block;
  }
  
  nav.mb ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.651), inset 0 0 1px rgba(187, 18, 18, 0.6);
	background: rgba(35, 35, 184, 0.931);
	color: rgb(255, 255, 255);
  }


/* boton de contacto */

.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
		-ms-flex-item-align: center;
			align-self: center;
	font-size: 1.5em;
	font-weight: 400;

	text-decoration: none;
	text-align: center;
	font-weight: 600;

  }
  .btn:hover, .btn:focus {
	color: rgb(0, 0, 0);
	outline: 0;
  }

  .se {
	border-color: #ffffff;
	color: rgb(240, 21, 21);
	box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
  }
  .se:hover {
	box-shadow: 0 0 10px 0 #ffffffd3 inset, 0 0 10px 4px #ffffff;
  }

  @media only screen and (max-width: 823px){
	.nombre {
    font-size: 3vw;
	}
	nav.mb{
		display: none;
	}
	
	.container{
		font-size: 11vw;
	}

	nav.mobil{
		display: flex;
		position: fixed;
		bottom:8px;
		width: 100%;
		text-align: center;
		justify-content: center;

		
	}

	nav div{
		display:flex ;
		margin: 1rem;
		justify-content: space-around;
		flex-grow:1;
		background-color:rgba(255, 255, 255, 0.596);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
		backdrop-filter: saturate(160%) blur(20px);
		border-radius: 3rem;
		width: 94%;
	}

	nav.mobil ul, li{
		display: inline-flex;
		width:max-content;
		text-decoration:none;
		flex-grow:1;
		}
	.header{
		justify-content: center;
		z-index: 10;
	}

}